


	<div style='padding:50px; padding-top:0px' ng-show='page=="edit_profile"'>

		<div class='reg-box content' style='min-height:300px; min-width:20px;'>
				<div>
					@
					<input class="form-control" ng-model='user_profile.username'>
				
				</div>
				<div>
					Age
					<input class="form-control" ng-model='user_profile.age'>
				</div>
				<div>
					Sex
					<input class="form-control" ng-model='user_profile.sex'>
				</div>R
				<div>
					Loc
					<input class="form-control" ng-model='user_profile.loc'>
				</div>
				<div>
					<a class='btn' ng-click='save_profile()' >Save Profile</a>
				</div>
		</div>

	</div>


	<div style='padding:50px; padding-top:0px;' ng-show='page=="room"'>

		<div style='height:40px'>
			<div class='pull-right' ng-show='user_profile.real_user'>
				<a class='btn' ng-click='page="edit_profile"' >@{{user_profile.username}}</a> {{user_profile.last_mention}}
			</div>

			<div class='pull-right' ng-show='!user_profile.real_user'>
				<a class='btn btn-primary' ng-click='login()' ><i class='icon-user icon-white open-bold small-font'></i> Login</a>
			</div>
		</div>

		<div style='background:#a07bc7'>
			<div class='pull-right'>
				<div ng-show='!edit_room' style='color:white; font-size:21px; margin:9px; cursor:pointer' class='light-font' ng-click='edit_room=true'>{{room_name}}</div>
				<div ng-show='edit_room' style='margin:8px; text-align:right'>
					<input style='width:200px' placeholder='Room Name' ng-model='room_name' class="form-control" ui-keypress='{enter:"change_room()"}'/> 
					<div style='margin-top:14px'>
						<a class='btn btn-warning' style='margin-right:4px' ng-click='edit_room=false'>Cancel</a>
						<a class='btn btn-success' ng-click='change_room()'>Save</a>
					</div>
				</div>
			</div>		

			<div>
				<img style='height:50px' header-logo src="img/asl_white.png">
				
			</div>
		</div>

		<div style='background:#00c4d0'>
			<div class='pull-right' ng-show='!user_profile.real_user' style='font-size:17px; background:#000; color:#fff; padding:10px; padding-left:20px; padding-right:20px'>
				VIEW COMMANDS
			</div>		

			<div class='open' style='font-size:17px; color:#ffffff; padding:10px'>
				17 PEOPLE
			</div>
				
		</div>

		<div class='reg-box content' style='min-height:300px; min-width:20px; margin-top:1px'>
			<div ng-repeat='message in messages' class='open' style='background:#dfd8e6; padding:8px; padding-left:12px; margin-bottom:1px'>

				<div style='color:#7c58a1' class='light-font'>{{message.username | uppercase }}</div>
				<div>{{message.message}}</div>

				<div>

				</div>

			</div>	
		</div>

		<div id='commands'>
			<div class='pull-right'>
				<a class='btn btn-warning' style='border-radius:0px' ng-click='send_message()'>Send!</a>
			</div>
			<div style='margin-top:1px'>
				<input style='width:calc(100% - 65px); background:#fafafa; border-radius:0px' class="form-control open" type='text' ui-keypress='{enter:"send_message()"}' ng-model='new_command' />
			</div>
		</div>

	</div>

