


	<div style='padding:50px; padding-top:0px' ng-show='page=="edit_profile"'>

		<div class='reg-box content' style='min-height:300px; min-width:20px;'>
				<div>
					@
					<input type='text' ng-model='user_profile.username'>
				
				</div>
				<div>
					Age
					<input type='text' ng-model='user_profile.age'>
				</div>
				<div>
					Sex
					<input type='text' ng-model='user_profile.sex'>
				</div>
				<div>
					Location
					<input type='text' ng-model='user_profile.location'>
				</div>
				<div>
					<a class='btn' ng-click='save_profile()' >Save Profile</a>
				</div>
		</div>

	</div>


	<div style='padding:50px; padding-top:0px' ng-show='page=="room"'>

		<div style='pull-right'>
			<a class='btn' ng-click='page="edit_profile"' >Edit Profile</a>
		</div>

		<div>
				<input placeholder='Room Name' ng-model='room_name' type='text' ui-keypress='{enter:"change_room()"}'/>
		</div>

		<div class='reg-box content' style='min-height:300px; min-width:20px;'>
			<div ng-repeat='message in messages'>

				<div>{{message.message}}</div>

			</div>	
		</div>

		<div id='commands'>
			<div class='pull-right'>
				<a class='btn' ng-click='send_message()'>Send!</a>
			</div>
			<div style='margin-top:1px'>
				<input style='width:calc(100% - 80px)' type='text' ui-keypress='{enter:"send_message()"}' ng-model='new_command' />
			</div>
		</div>

	</div>

